.display {
    grid-column: span 4;
    background: #0004;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}