@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

* {
  font-family: 'RobotoMono', 'monospace';
}

body {
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #4ecca3;
}